
<div id="payNow" class="modal modal-fixed-footer">
	<div class="modal-content">
		<h3 ng-show = !t>Pay Now</h3> <h3 ng-show = t>One Time Settlement</h3>
		  <span class="switch" ng-show="bill.status != 'PAID'" style="position: absolute;float: right; right: 10px; top: 25px;">
		    <label style="font-size: 15px">
		      <span ng-class="{'redTextOnly' : !t}"> Pay This Bill Only </span>
		      <input type="checkbox" ng-model="t">
		      <span class="lever"></span>
		      <span ng-class="{'redTextOnly' : t}"> Pay Off Customer </span>
		    </label>
		  </span>		

		<div style="position: absolute; float: left; top:110px; left:200px;font-size: 17px" ng-show="!t">
			<b> BILL NUMBER</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{bill.billId}}
			<br>
			<b> BILL DATE</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{bill.billDate | date:"dd MMMM, yyyy"}}
			<br>
			<b> BILL AMOUNT</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{bill.billAmount | currency:""}} ₹
			<br>
			<b> ORDER ID</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{bill.orderId}}
			<br><br>

			<span ng-show="bill.remAmount > 0 && bill.status.indexOf('CANCEL') == -1">
				<span ng-show="bill.remAmount != bill.billAmount">
				<b> PREVIOUS AMOUNT</b>&nbsp;&nbsp;&nbsp;&nbsp;: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{bill.billAmount-bill.remAmount | currency:""}} ₹			
				<br>
				</span>
				<b> PAYABLE AMOUNT</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{roundedAmount | currency:""}} ₹
				<br>
				<b> AMOUNT PAID</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:
				<div class="input-field" style="display: inline-block; left:50px;">
					<input type="number" style="font-size: 17px " min=1 max="{{roundedAmount}}" ng-model="paid" ng-init="paid=1" id="" style="width: 120px">
				</div>
				<br>  			
				<center ng-show="!check()" ng-class="{'animated shake' : !check()}">ENTER A VALID PAYMENT AMOUNT</center>
			</span>
			<span ng-show="bill.remAmount == 0 && bill.status.indexOf('CANCEL')==-1">
				
				<b> BILL SETTLED ON</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{bill.lastPaidDate | date:"dd MMMM, yyyy"}}			
				<br><br>			
				<center><div id="sxsMsg" class="animated flash"><b> !! PAYMENT COMPLETED !! </b></div></center>
			</span>
			<span ng-show="bill.status == 'CANCELLED & REFUNDED'">
				<b> REFUND AMOUNT</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{bill.totalPaid | currency:""}} ₹
				<br>
				<b> REFUND SETTLED ON</b> :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{bill.lastPaidDate | date:"dd MMMM, yyyy"}}			
				<br><br>			
				<center><div id="sxsMsg" class="animated flash"><b> !! BILL CANCELLATION &amp; REFUND COMPLETED !! </b></div></center>
			</span>			

			<span ng-show="bill.status == 'CANCELLED'">
				<b> REFUND AMOUNT</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{bill.totalPaid | currency:""}} ₹
				<br>				
				<b> BILL CANCELLED ON</b> &nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{bill.lastPaidDate | date:"dd MMMM, yyyy"}}			
				<br><br>			
				<center><div id="sxsMsg" class="animated flash"><b> !! BILL CANCELLATION COMPLETED !! </b></div></center>
			</span>			

		</div>


	</div>
		<div class="modal-footer">
			<button style="position: relative; bottom: 5px; height:43px; background-color: #d32f2f" class="waves-effect waves-light btn-large" id="checkoutBtn" ng-model="checkoutBtn" ng-click="no()"><font size="4"><span style="position: relative; bottom: 5px;"><i class="fa fa-times"></i> CLOSE </span></font></button>
			<button style="position: relative; bottom: 5px; height:43px; background-color: #388e3c" class="waves-effect waves-light btn-large" id="checkoutBtn" ng-model="payNowBtn" ng-click="payNow()" ng-disabled="!check() || t"><font size="4" ><span style="position: relative; bottom: 5px;"> PAY NOW <i class="fa fa-inr"></i></span></font></button>	
		</div>
</div>