<style type="text/css">
	body{
		font-family: 'Raleway',sans-serif;
	}
	table{
		font-family: 'Montserrat',sans-serif;
		cursor: default;
	}
	table th:hover{
		cursor: default;
	}
	.list tr:hover{
		text-decoration: none;
		cursor: pointer;
	}
	#searchIcon:hover{
		cursor: pointer;
	}

	.bs1{
		position: relative; 
		bottom:20px; 
		right:48px; 
		float: right; 
		width:180px; 
	}
	.bs2{
		position: relative; 
		bottom:20px; 
		left:635px; 
		width:180px; 
	}
</style>

<h2 style="font-family: 'Raleway', sans-serif; margin-top: 50px">PLACE NEW ORDER </h2>
<h4 style="font-family: 'Montserrat', sans-serif;"> {{titleMsg}} <div class="animated swing" style="display: inline-block;">{{total}}</div></h4> 
  <div class="input-field animated" style="position: absolute; top:120px; right:65px; float: right; width:300px;" id="searchContainer">
  <i class="fa fa-search prefix" id="searchIcon" ng-mouseenter="expandSearch()"></i>
    <input type="text"  placeholder="SEARCH HERE.." ng-model="search" ng-init="" ng-focus="searchFocus()" ng-blur="compressSearch()" id="search" style="width: 0px">
  </div> 

<table class="table table-hover table-responsive list animated" id="custList">
  <thead>
  <!-- <tr> -->
      <th width ="35%"><i class="fa fa-user-o" style="font-size: 15px"></i> NAME</th>
      <th width ="25%"><i class="fa fa-phone" style="font-size: 15px"></i> CONTACT NUMBER</th>
      <th width ="20%"><center><i class="fa fa-cube" style="font-size: 15px"></i> OUTSTANDING ORDERS</center></th>
      <th width ="20%"><center><i class="fa fa-inr" style="font-size: 15px"></i> CREDIT</center></th>
  <!-- </tr> -->
  </thead>
	<tr ng-repeat="customer in list | filter : search" ng-click="set(customer,$index)" id="row{{$index}}" height="48">
    <td width="35%" title = "Name"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{customer.name}} </td>
    <td width="25%" title = "Contact"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{customer.contact}} </td>
    <td width="20%" title = "Orders"> <center>{{customer.orders}}</center> </td>	
    <td width="20%" title = "Credit"> <center>{{customer.credit}}</center> </td>
	</tr>
</table>

<div id="orderConfirm" class="modal bottom-sheet">
	<div class="modal-content">
		<center><h4>ARE YOU SURE TO ISSUE ORDER TO <b>{{customer.name}}</b> ?</h4></center>
		<center><button class="btn waves-effect waves-light" style="background-color: #388E3C" ng-click="orderProceed()"> YES </button>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<button class="btn waves-effect waves-light" style="background-color: #d32f2f" ng-click="noOrder()"> NO </button></center>
	</div>
</div>

<div id="nextContent" class="hide animated">
	
	<div class="card blue-grey darken-1">
		<div class="card-content white-text">
			<span class="card-title">ORDER DETAILS &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-code"></i>&nbsp;&nbsp;{{orderId}} </span>
				<span style="position: absolute; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; width: 22%"><i class="fa fa-user-o" style="font-size: 15px"></i> {{customer.name}}</span>
				<span style="position: absolute; right:700px;"><i class="fa fa-phone" style="font-size: 15px"></i> {{customer.contact}}</span>
				<span style="position: absolute; float:left; top:35px; left:720px;" ng-show="showDetails"><i class="fa fa-truck" style="font-size: 15px"></i> {{formattedPickupDate}}</span>	
				<span style="position: absolute; right:270px;" ng-show="showDetails"><i class="fa fa-calendar" style="font-size: 15px"></i> {{formattedReturnDate}}</span>	
				<span style="position: absolute; float:left; top:35px; left:844px" ng-show="showDetails && evePurpose != ''"><i class="fa fa-connectdevelop" style="font-size: 15px"></i> {{evePurpose}}</span>
				<span style="position: relative; left:825px;" ng-show="showDetails && eveLoxn != ''"><i class="fa fa-map-marker" style="font-size: 15px"></i> {{eveLoxn}}</span>	
				<br>
		</div>
	</div>
	<br>
	<div id="nextContentForm" class="animated">
	<form class="form form-horizontal">
	<div style="margin-left: 100px; font-size: 19px">
		<div class="input-field">
			<i class="fa fa-clock-o"></i>&nbsp;&nbsp;&nbsp; ORDER PLACED ON <input type="date" class="datepicker" pick-a-date="todayDate" id="todayDate" name="todayDate" style="width: 250px" disabled>
		</div>
		<div class="input-field">
			<i class="fa fa-truck"></i>&nbsp;&nbsp;&nbsp; PICKUP ON &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="date" class="datepicker" pick-a-date="pickupDate" id="pickupDate" name="pickupDate" style="width: 250px" required>
		</div>		
		<div class="input-field">
			<i class="fa fa-calendar"></i>&nbsp;&nbsp;&nbsp; RETURN ON &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="date" class="datepicker" pick-a-date="returnDate" id="returnDate" name="returnDate" style="width: 250px" required>
		</div>
		<div class="input-field">
    		<i class="fa fa-connectdevelop"></i>&nbsp;&nbsp; EVENT PURPOSE &nbsp;&nbsp;&nbsp;&nbsp; <input type="text" maxlength="22" ng-model="evePurpose" ng-keyup="toUpper('evePurpose')" ng-init="" id="evePurpose" style="width: 250px; font-size: 19px">
		</div>
		<div class="input-field">
    		<i class="fa fa-map-marker"></i>&nbsp;&nbsp;&nbsp;&nbsp; EVENT LOCATION&nbsp;&nbsp;&nbsp;&nbsp; <input type="text" maxlength="22" ng-model="eveLoxn" ng-keyup="toUpper('eveLoxn')" ng-init="" id="evePurpose" style="width: 250px; font-size: 19px">
		</div>			
	</div>
	<!-- <span style="position: relative; bottom:60px ; margin-left: 710px;"> -->
	<span style="position: absolute; bottom:15px ; float: right; right:48px">
		<button class="waves-effect waves-light btn-large" id="backBtn" ng-model="backBtn" ng-click="back(1)" ><font size="4" ><i class="fa fa-chevron-left"></i> BACK</font></button>
		<button class="waves-effect waves-light btn-large" type="submit" id="proceedBtn" ng-model="proceedBtn" ng-click="proceed()" ><font size="4" > PROCEED <i class="fa fa-chevron-right"></i> </font></button>
	</span>
	</form>
	</div>
</div>



<div id="itemContent" class="hide animated">
<b> ORDERED LIST </b>
<br>
<span ng-show="orderedList.length == 0">NO ITEMS ORDERED YET
<br><br>
</span>

<table class="table table-hover table-responsive list animated" id="orderedItemList" ng-show="orderedList.length > 0">
  <thead>
  <!-- <tr> -->
      <th width ="20%"><i class="fa fa-barcode" style="font-size: 12px"></i> BARCODE</th>
      <th width ="30%"><i class="fa fa-cube" style="font-size: 15px"></i> NAME</th>
      <th width ="12.50%"><center><i class="fa fa-inr" style="font-size: 15px"></i> PRICE</center></th>
      <th width ="12.50%"><center><i class="fa fa-cubes" style="font-size: 20px"></i> QUANTITY</center></th>
      <th width ="12.50%"><center><i class="fa fa-inr" style="font-size: 15px"></i> TOTAL</center></th>
  <!-- </tr> -->
  </thead>
  <tbody>
    <tr ng-repeat="orderedItem in orderedList" class="animated fadeInLeft" height="48" id="item{{$index}}">
    <td width="20%" title = "CODE"> {{orderedItem.barCode}} </td>
    <td width="30%" title = "NAME" style="position:relative; left:10px">  {{orderedItem.name}} </td>
    <td width="12.50%" title = "PRICE"> <center>{{orderedItem.price | currency:""}} ₹</center> </td>
    <td width="12.50%" title = "TOTAL STOCK"> <center>{{orderedItem.qty}}</center> </td>
    <td width="12.50%" title = "AVAILABLE"> <center>{{orderedItem.price*orderedItem.qty | currency:""}} ₹</center> </td>
    <td width="12.50%" title = "AVAILABLE"> <center><button class="btn waves-effect waves-light" style="background-color: #d32f2f; position: relative; bottom: 2px" ng-click="delThisItem($index)"><i class="fa fa-trash-o"></i></button></center> </td>
  	</tr>
  </tbody>
</table>
		<button ng-class="{'bs1': orderedList.length == 0 , 'bs2' : orderedList.length > 0}" class="waves-effect waves-light btn-large" id="backBtn" ng-model="backBtn" ng-click="back(2)" ><font size="4" ><i class="fa fa-chevron-left"></i> BACK</font></button>

		<button style="position: relative; bottom:20px; right:48px; float: right; width:180px; background-color: #757575" class="waves-effect waves-light btn-large" type="submit" id="checkoutBtn" ng-model="checkoutBtn" ng-click="checkout()" ng-show="orderedList.length > 0"><font size="4" > CHECKOUT <i class="fa fa-opencart"></i> </font></button>

<br>

<!-- </ul> -->
<b> ALL ITEMS LIST </b>
<table class="table table-hover table-responsive list animated" style="position: relative; bottom: 15px" id="itemList">
  <thead>
  <!-- <tr> -->
      <th width ="20%"><i class="fa fa-barcode" style="font-size: 12px"></i> BARCODE</th>
      <th width ="30%"><i class="fa fa-cube" style="font-size: 15px"></i> NAME</th>
      <th width ="12.50%"><center><i class="fa fa-inr" style="font-size: 15px"></i> PRICE</center></th>
      <th width ="12.50%"><center><i class="fa fa-stack-overflow" style="font-size: 20px"></i> TOTAL STOCK</center></th>
      <th width ="12.50%"><center><i class="fa fa-check" style="font-size: 15px"></i> AVAILABLE NOW</center></th>
      <th width ="12.50%"><center><i class="fa fa-calendar" style="font-size: 15px"></i> AVAILABLE ON {{formattedPickupDate}}</center></th>
  <!-- </tr> -->
  </thead>
  <tbody>
    <tr ng-repeat="item in itemList | filter : search" ng-click="setItem(item,$index)" id="row2{{$index}}" height="48">
    <td width="20%" id="{{item.barCode}}" title = "CODE"> {{item.barCode}} </td>
    <td width="30%" id="{{item.barCode}}" title = "NAME" style="position:relative; left:10px">  {{item.name}} </td>
    <td width="12.50%" id="{{item.barCode}}" title = "PRICE"> <center>{{item.price | currency:""}} ₹</center> </td>
    <td width="12.50%" id="{{item.barCode}}" title = "TOTAL STOCK"> <center>{{item.totalStock}}</center> </td>
    <td width="12.50%" id="{{item.barCode}}" title = "AVAILABLE"> <center>{{item.availableStock}}</center> </td>
    <td width="12.50%" id="{{item.barCode}}" title = "RENTED STOCK"> <center> {{daysAvailibity[$index]}} </center> </td>
  	</tr>
  </tbody>
</table>
</div>

<div id="orderItemConfirm" class="modal bottom-sheet">
	<div class="modal-content">
		<center><h4><i class="fa fa-cubes" id="qtyIcon"></i> ENTER THE QUANTITY FOR <b>{{item.name}}</b> 
  		&nbsp;&nbsp;<div class="input-field animated" id="quantity" style="display: inline-block;">
    		<input type="number" ng-model="qty" ng-keydown="tap(enrollItem())" id="qtySearch" ng-init="qty=1" min="1" max="{{item.availableStock}}" style="font-size: 20px; width: 50px">
  		</div> 
  		<div id="maxVal" style="display: inline-block;">(MAX : {{item.totalStock}} )</div>
  		<form style="display: inline-block;">
		<button class="btn waves-effect waves-light" style="background-color: #388E3C" type="submit" name="sbm" ng-click="enrollItem()"><i class="fa fa-check"></i></button>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<button class="btn waves-effect waves-light" style="background-color: #d32f2f" ng-click="cancelItem()"><i class="fa fa-times"></i></button>
		</form>
		</h4></center>
	</div>
</div>