<style type="text/css">
	body{
		font-family: 'Raleway',sans-serif;
	}
	table{
		font-family: 'Montserrat',sans-serif;
		cursor: default;
	}
	table th:hover{
		cursor: default;
	}
	.list tr:hover{
		text-decoration: none;
		cursor: pointer;
	}
</style>

<div class="animated">
	<h2 style="font-family: 'Raleway', sans-serif; margin-top: 50px">ORDERS CENTRAL </h2>
	<br>
	<div class="input-field" style="position: absolute; top:120px; right:65px; float: right; width:300px;">
		<i class="fa fa-search prefix" id="searchIcon" ng-mouseenter="expandSearch()"></i>
		<input type="text"  placeholder="SEARCH HERE.." ng-model="search" ng-focus="searchFocus()" ng-blur="compressSearch()" ng-init="" ng-keyup="searchBlur()" id="search" style="width: 0px">
	</div>

	<table class="table table-hover table-responsive list">
		<thead>
			<th width ="15%"><i class="fa fa-code" style="font-size: 12px"></i> NUMBER</th>
			<th width ="20%"><i class="fa fa-user-o" style="font-size: 15px"></i> CUSTOMER</th>
			<th width ="15%"><center><i class="fa fa-calendar" style="font-size: 15px"></i> ISSUE DATE</center></th>
			<th width ="15%"><center><i class="fa fa-truck" style="font-size: 15px"></i> DELIVERY DATE</center></th>
			<th width ="15%"><center><i class="fa fa-exchange" style="font-size: 15px"></i> RETURN DATE </center></th>
			<th width ="10%"><center> STATUS <i class="fa fa-question" style="font-size: 15px"></i></center></th>
			<th width ="10%"><center> ACTIONS <i class="fa fa-chevron-down" style="font-size: 15px"></i></center></th>
		</thead>
		<tbody>
			<tr ng-repeat="order in orderList | filter : search" ng-click="set(order,$index)" id="row{{$index}}" ng-class="{'warning' : order.status=='NOT DELIVERED' , 'success' : order.status=='RETURNED' , 'blue' : order.status=='CANCELLED' , 'danger' : order.status=='DELIVERED' && today > order.returnDate, 'info' : order.status=='DELIVERED' && today < order.returnDate }" height="48">
			<td width="15%"> {{order.orderId}} </td>
			<td width="20%">  &nbsp;&nbsp;&nbsp;&nbsp;{{order.name}} </td>
			<td width="15%"><center>{{order.issueDate | date:"dd MMMM, yyyy"}}</center> </td>
			<td width="15%"><center>{{order.pickupDate | date:"dd MMMM, yyyy"}}</center> </td>
			<td width="15%"><center>{{order.returnDate | date:"dd MMMM, yyyy"}}</center> </td>
			<td width="10%"><center>ORDER {{order.status}}</center> </td>
			<td width="10%">
			<center>
				<span ng-show="order.status=='NOT DELIVERED'">
					<button class="btn waves-effect waves-light btn-large" ng-model="proceed" ng-click="action($event,order,$index,1)" style="position: relative; bottom: 2px; width:150px; height: 35px"> DELIVER ORDER </button>
				</span>
				<span ng-show="order.status=='DELIVERED'">
					<button class="btn waves-effect waves-light btn-large" ng-model="proceed" ng-click="action($event,order,$index,2)" style="position: relative; bottom: 2px; width:150px; height: 35px"> RETURN ORDER </button>
				</span>
				<span ng-show="order.status=='RETURNED'">
					<button class="btn waves-effect waves-light btn-large" ng-model="proceed" style="position: relative; bottom: 2px; width:150px; height: 35px" ng-disabled="true"> RETURNED </button>
				</span>
				<span ng-show="order.status=='CANCELLED'">
					<button class="btn waves-effect waves-light btn-large" ng-model="proceed" style="position: relative; bottom: 2px; width:150px; height: 35px" ng-disabled="true"> CANCELLED </button>
				</span>				
			</center> </td>
			</tr>
		</tbody>
	</table>
</div>



<div id="orderDetails" class="modal bottom-sheet" style="overflow-y: scroll;">
	<div class="modal-content">
		<h3>ORDER DETAILS <span style="position: relative; left:50px">#{{selectedOrder.orderId}}</span></h3>
		<span style="font-size: 15px " ng-show="selectedOrder.evePurpose != ''"><i class="fa fa-connectdevelop"></i> EVENT PURPOSE &nbsp;: </span>&nbsp;&nbsp;&nbsp;&nbsp;{{selectedOrder.evePurpose}}
		<br>
		<span style="font-size: 15px " ng-show="selectedOrder.eveLoxn != ''">&nbsp;<i class="fa fa-map-marker"></i> &nbsp;EVENT LOCATION : </span>&nbsp;&nbsp;&nbsp;&nbsp;{{selectedOrder.eveLoxn}}
      	<table class="table">
      		<thead>
				<th width ="20%"><i class="fa fa-barcode" style="font-size: 12px"></i> BARCODE</th>
				<th width ="30%"><i class="fa fa-cube" style="font-size: 15px"></i> NAME</th>
				<th width ="12.50%"><center><i class="fa fa-inr" style="font-size: 15px"></i> PRICE</center></th>
				<th width ="12.50%"><center><i class="fa fa-cubes" style="font-size: 20px"></i> QUANTITY</center></th>
				<th width ="12.50%"><center><i class="fa fa-inr" style="font-size: 15px"></i> TOTAL</center></th>
      		</thead>
      		<tbody>
				<tr ng-repeat="orderedItem in selectedOrder.items" height="48" id="item{{$index}}">
					<td width="20%" title = "CODE"> {{orderedItem.barCode}} </td>
					<td width="30%" title = "NAME" style="position:relative; left:10px">  {{orderedItem.name}} </td>
					<td width="12.50%" title = "PRICE"> <center>{{orderedItem.price | currency :""}} ₹</center> </td>
					<td width="12.50%" title = "TOTAL STOCK"> <center>{{orderedItem.qty}}</center> </td>
					<td width="12.50%" title = "AVAILABLE"> <center>{{orderedItem.price*orderedItem.qty | currency :""}} ₹</center> </td>
				</tr>      			
      		</tbody>
      	</table>
	</div>
	<div class="modal-footer">
		<span style="float:left;">
			<button id="" class="waves-effect waves-light btn-large" style="height:40px" ng-click="deliverNote()" ng-disabled="selectedOrder.status == 'RETURNED' || selectedOrder.status == 'NOT DELIVERED' || selectedOrder.status == 'CANCELLED'"><span style="position: relative; bottom: 8px; font-size:15px"><i class="fa fa-print"></i> DELIVERY NOTE </span></button>
		</span>
		<span style="position:absolute; float:right; right:75px">
		<button id="" class="waves-effect waves-light btn-large" style="height:40px" ng-click="update()" ng-disabled="true"><span style="position: relative; bottom: 8px; font-size:15px"><i class="fa fa-refresh"></i> UPDATE </span></button>
		<button id="" class="waves-effect waves-light btn-large" ng-click="cancelOrder(0)" ng-disabled="selectedOrder.status != 'NOT DELIVERED'" style="height:40px;  background-color: #d32f2f ;"><span style="position: relative; bottom: 8px; font-size:15px"> CANCEL ORDER <i class="fa fa-trash"></i></span></button>
		</span>
	</div>	
</div>

<div id="pickUpConfirm" class="modal bottom-sheet">
	<div class="modal-content">
		<center><h4>ARE YOU SURE THAT THIS ORDER IS DELIVERED TO <b>{{selectedOrder.name}}</b> ?</h4></center>
		<center><button class="btn waves-effect waves-light" style="background-color: #388E3C" ng-click="pickUp()"> YES </button>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<button class="btn waves-effect waves-light" style="background-color: #d32f2f" ng-click="no()"> NO </button></center>
	</div>
</div>

<div id="returnConfirm" class="modal bottom-sheet">
	<div class="modal-content">
		<center><h4>ARE YOU SURE THAT THE ORDERED ITEMS ARE RETURNED BY <b>{{selectedOrder.name}}</b> ?</h4></center>
		<span ng-show="lostFlag"><center>!! THE BILL FOR LOST ITEMS WILL ALSO BE GENERATED !!</center></span>
		<center><button class="btn waves-effect waves-light" style="background-color: #388E3C" ng-click="return()"> YES </button>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<button class="btn waves-effect waves-light" style="background-color: #d32f2f" ng-click="no()"> NO </button></center>
	</div>
</div>

<div id="cancelConfirm" class="modal bottom-sheet">
	<div class="modal-content">
		<center><h4>ARE YOU SURE TO CANCEL THIS ORDER PLACED BY <b>{{selectedOrder.name}}</b> ?</h4></center>
		<center><button class="btn waves-effect waves-light" style="background-color: #388E3C" ng-click="cancelOrder(1)"> YES </button>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<button class="btn waves-effect waves-light" style="background-color: #d32f2f" ng-click="no()"> NO </button></center>
	</div>
</div>


<div id="returnCheck" class="modal bottom-sheet" style="overflow-y: scroll;">
	<div class="modal-content">
		<h3>ORDER DETAILS <span style="position: relative; left:50px">#{{selectedOrder.orderId}}</span>
			<b><center>RETURN CHECK</center></b></h3>
		<span style="font-size: 15px " ng-show="selectedOrder.evePurpose != ''"><i class="fa fa-connectdevelop"></i> EVENT PURPOSE &nbsp;: </span>&nbsp;&nbsp;&nbsp;&nbsp;{{selectedOrder.evePurpose}}
		<br>
		<span style="font-size: 15px " ng-show="selectedOrder.eveLoxn != ''">&nbsp;<i class="fa fa-map-marker"></i> &nbsp;EVENT LOCATION : </span>&nbsp;&nbsp;&nbsp;&nbsp;{{selectedOrder.eveLoxn}}
      	<table class="table">
      		<thead>
				<th width ="20%"><i class="fa fa-barcode" style="font-size: 12px"></i> BARCODE</th>
				<th width ="30%"><i class="fa fa-cube" style="font-size: 15px"></i> NAME</th>
				<th width ="12.50%"><center><i class="fa fa-truck" style="font-size: 20px"></i> QTY DELIVERED </center></th>
				<th width ="12.50%"><center><i class="fa fa-exchange" style="font-size: 15px"></i> QTY RETURNED </center></th>
				<th width ="12.50%"><center><i class="fa fa-database" style="font-size: 15px"></i> LOST / DAMAGED</center></th>
      		</thead>
      		<tbody>
				<tr ng-repeat="orderedItem in selectedOrder.items" height="48" id="item{{$index}}">
					<td width="20%" title = "CODE"> {{orderedItem.barCode}} </td>
					<td width="30%" title = "NAME" style="position:relative; left:10px">  {{orderedItem.name}} </td>
					<td width="12.50%" title = "PRICE"> <center>{{orderedItem.qty}}</center> </td>
					<td width="12.50%" title = "TOTAL STOCK"> <center>
						<input type="number" ng-model="qtyReturned" ng-change="stkLost($index,orderedItem.qty-qtyReturned,qtyReturned >=0 && qtyReturned <= orderedItem.qty)" id="qtyReturned" ng-init="qtyReturned=orderedItem.qty" min="0" max="{{orderedItem.qty}}" style="font-size: 15px; width: 50px; position: relative; bottom: 5px">
					</center> </td>
					<td width="12.50%" title = "AVAILABLE"> <center>
						<span ng-show="qtyReturned >=0 && qtyReturned <= orderedItem.qty">
							{{orderedItem.qty-qtyReturned}}
						</span>
						<span ng-show="!(qtyReturned >=0 && qtyReturned <= orderedItem.qty)">
							<div class="animated shake">ERROR</div>
						</span>						
				</center> </td>
				</tr>      			
      		</tbody>
      	</table>
	</div>
	<div class="modal-footer">
		<span style="position:absolute; float:right; right:75px">
		<button id="" class="waves-effect waves-light btn-large" style="height:40px" ng-click="chk()" ng-disabled="!(errorFlag.indexOf(true) == -1)"><span style="position: relative; bottom: 8px; font-size:15px"><i class="fa fa-refresh"></i> RETURN CONFIRM </span></button>
		</span>
	</div>	
</div>
