<div class="animated">
<h2 style="font-family: 'Raleway', sans-serif; margin-top: 50px">UPDATE STOCK DETAILS </h2>
<form class="form-inline" style="font-family: 'Raleway', sans-serif; position: relative; margin-top: 50px" name="updateItemForm">
  <div class="input-group input-group-lg">
  <span class="input-group-addon" style="width:55px"><i class="fa fa-barcode"></i></span>
    <input type="" class="form-control" style="width:425px;height:52px" placeholder="Item Bar Code" ng-model="itemBarCode" ng-init="itemBarCode=item.barCode" ng-keyup="toUpper('itemBarCode')" id="itemBarCode" required>
  </div>
  <div class="input-group input-group-lg" style="margin-left: 150px;">
  <span class="input-group-addon"><i class="fa fa-stack-overflow"></i></span>
    <input type="" class="form-control" style="width:150px;height:52px;" placeholder="Total Stock" ng-model="totalStock" ng-init="totalStock=item.totalStock" ng-keyup="checkNumber('totalStock')" ng-blur="rst('valid');rst('temp')" id="totalStock">
  </div>
  <br><br>
  <div class="input-group input-group-lg">
  <span class="input-group-addon"><i class="material-icons">text_fields</i></span>
    <input type="" class="form-control" style="width:425px;height:52px" placeholder="Item Name" ng-model="itemName" ng-init="itemName=item.name" ng-keyup="toUpper('itemName')" ng-blur="rst('same')" id="itemName" required>
  </div>
  <div class="input-group input-group-lg" style="margin-left: 150px;">
  <span class="input-group-addon"><i class="fa fa-hand-paper-o"></i></span>
    <input type="" class="form-control" style="width:150px;height:52px; " placeholder="Stock In Hand" ng-model="stockInHand" ng-init="stockInHand=item.availableStock" ng-keyup="checkNumber('stockInHand')" ng-blur="rst('valid');rst('temp')" id="stockInHand">
  </div>
  <br><br>
  <div class="input-group input-group-lg">
  <span class="input-group-addon" style="width:55px"><i class="fa fa-inr"></i></span>
    <input type="" class="form-control" style="width:100px;height:52px" placeholder="Price" ng-model="price" ng-init="price=item.price" ng-keyup="checkNumber('price')" ng-blur="rst('valid');rst('temp')" id="price" required>
  </div>
  <div class="input-group input-group-lg" style="margin-left: 476px;">
  <span class="input-group-addon" style="width:55px"><i class="fa fa-inr"></i></span>
    <input type="" class="form-control" style="width:100px;height:52px" placeholder="Cost" ng-model="costPrice" ng-keyup="checkNumber('costPrice')" ng-init="costPrice=item.costPrice" ng-blur="rst('valid');rst('temp')" id="costPrice" required>
  </div>    
<br><br>
<button class="waves-effect waves-light btn-large" id="addBtn" ng-model="addBtn" type="submit" style="margin-left: 710px" ng-click="submit()" ><font size="4" >UPDATE ITEM</font></button>

</form>

</div>