<style type="text/css">
	body{
		font-family: 'Raleway',sans-serif;
	}
	table{
		font-family: 'Montserrat',sans-serif;
	}
	#contentsModal table :hover{
		cursor: default;
	}
	#contentsModal h3{
		font-family: 'Artifika', serif;
	}
	.ng-table-pager {
	    display: none;
	}	
	.list tr:hover{
		text-decoration: none;
		cursor: pointer;
	}
	hr.style2 {
		border-top: 3px double #8c8b8b;
	}	
</style>
<!-- <div class="animated"> -->
<h2 style="font-family: 'Raleway', sans-serif; margin-top: 50px">STOCK CENTRAL </h2>
<h4 style="font-family: 'Montserrat', sans-serif;"> &nbsp;TOTAL ITEMS IN DATABASE : <div class="animated swing" style="display: inline-block;">{{total}}</div></h4> 
  <div class="input-field" style="position: absolute; top:120px; right:65px; float: right; width:300px;">
  <i class="fa fa-search prefix" id="searchIcon" ng-mouseenter="expandSearch()"></i>
    <input type="text"  placeholder="SEARCH HERE.." ng-model="search" ng-focus="searchFocus()" ng-blur="compressSearch()" ng-init="" ng-keyup="searchBlur()" id="search" style="width: 0px">
  </div>  
	<table ng-table="itemTable" class="table table-hover table-responsive list">
  <thead>
    <tr style="cursor: default;">
      <th width ="20%"><i class="fa fa-barcode" style="font-size: 12px"></i> BARCODE</th>
      <th width ="30%"><i class="fa fa-cube" style="font-size: 15px"></i> NAME</th>
      <th width ="12.50%"><center><i class="fa fa-inr" style="font-size: 15px"></i> PRICE</center></th>
      <th width ="12.50%"><center><i class="fa fa-stack-overflow" style="font-size: 20px"></i> TOTAL STOCK</center></th>
      <th width ="12.50%"><center><i class="fa fa-inr" style="font-size: 15px"></i> RENTED</center></th>
      <th width ="12.50%"><center><i class="fa fa-check" style="font-size: 15px"></i> AVAILABLE</center></th>
    </tr>
  </thead>
    <tr ng-repeat="item in $data | filter : search" ng-click="set(item,$index)" id="row{{$index}}" height="48">
    <td width="20%" id="{{item.barCode}}" title = "CODE"> {{item.barCode}} </td>
    <td width="30%" id="{{item.barCode}}" title = "NAME" style="position:relative; left:10px">  {{item.name}} </td>
    <td width="12.50%" id="{{item.barCode}}" title = "PRICE"> <center>{{item.price | currency:""}} ₹</center> </td>
    <td width="12.50%" id="{{item.barCode}}" title = "TOTAL STOCK"> <center>{{item.totalStock}}</center> </td>
    <td width="12.50%" id="{{item.barCode}}" title = "RENTED STOCK"> <center>{{item.rentedStock}}</center> </td>
    <td width="12.50%" id="{{item.barCode}}" title = "AVAILABLE"> <center>{{item.availableStock}}</center> </td>
  	</tr>
</table>
</div>

<div id="delConfirm" class="modal bottom-sheet">
	<div class="modal-content">
		<center><h4>ARE YOU SURE YOU WANT TO DELETE <b>{{item.name}}</b> ?</h4></center>
		<center><button class="btn waves-effect waves-light" style="background-color: #388E3C" ng-click="delete()"> YES </button>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<button class="btn waves-effect waves-light" style="background-color: #d32f2f" ng-click="noDel()"> NO </button></center>
	</div>
</div>

<div id="stockViewModal" class="modal bottom-sheet" style="overflow-y: scroll;">
	<div id="contentsModal" class="modal-content" style="height: 230px;">
		<h3>STOCK DETAILS</h3>
		<div style="font-size: 17px">
			<span style="position: absolute; top: 55px; left:25px;"><i class="fa fa-barcode" style="font-size: 20px"></i> {{item.barCode}}</span>
			<span style="position: absolute; top: 55px; left:300px;"><i class="fa fa-cube" style="font-size: 23px"></i> {{item.name}}</span>
			<span style="position: absolute; top: 55px; left:675px;"><b><font size="5">R</font></b> <i class="fa fa-inr" style="font-size: 23px"></i> <span style="position: relative ; bottom : 5px">{{item.price}}</span></span>
			<span style="position: absolute; top: 55px; left:800px;"><b><font size="5">C</font></b> <i class="fa fa-inr" style="font-size: 23px"></i> <span style="position: relative ; bottom : 5px">{{item.costPrice}}</span></span>
			<span style="position: absolute; top: 55px; left:1000px;"><i class="fa fa-stack-overflow" style="position: relative; bottom: 5px; font-size: 28px"></i><span style="position: relative ; bottom : 5px"> {{item.totalStock}}</span></span>
			<span style="position: absolute; top: 55px; left:1100px;"><i class="fa fa-inr" style="font-size: 23px"></i> <span style="position: relative ; bottom : 5px">{{item.rentedStock}}</span></span>
			<span style="position: absolute; top: 55px; left:1200px;"><i class="fa fa-check" style="font-size: 23px"></i> <span style="position: relative ; bottom : 5px">{{item.availableStock}}</span></span>
			<br>
			<span style="position: absolute; top: 85px; left:25px;"><i class="fa fa-eercast" style="font-size: 22px"></i> TIMES ORDERED : {{item.timesOrdered}}</span>			
		</div>
		<br><br>
		<h4><b>STOCK POSSESSION DETAILS</b></h4>
		<hr class="style2" style="position: relative; float:left; bottom: 15px; width: 255px"/>
		<br>
		<div style="position: absolute; margin-left: 50px; font-size: 18px">
			<i class="fa fa-cubes"></i> IN GODOWN <span style="position: relative; float: right; left:150px">{{item.availableStock}}</span> 
			<br>
			<i class="fa fa-users"></i> RENTED TO CUSTOMERS <span style="position: relative; float: right; left:150px">{{item.rentedStock}}</span>  			
			<br><br>
		</div>

		<div ng-show="item.rentedStock > 0" style="position: absolute; margin-left: 50px; font-size: 18px">
				<br><br><br><br>
			<h4><b>RENTED STOCK POSSESSION DETAILS</b></h4>
			<hr class="style2" style="position: relative; float:left; bottom: 15px; width: 335px"/>	
			<table class="table table-hover table-responsive list" style="font-size: 15px">
				<thead>
					<th width ="35%"><i class="fa fa-user-o" style="font-size: 12px"></i> NAME</th>
					<th width ="15%"><i class="fa fa-phone" style="font-size: 15px"></i> CONTACT</th>
					<th width ="16%"><center><i class="fa fa-truck" style="font-size: 15px"></i> PICKED UP</center></th>
					<th width ="16%"><center><i class="fa fa-calendar" style="font-size: 15px"></i> WILL RETURN</center></th>
					<th width ="16%"><center> QUANTITY <i class="fa fa-cube" style="font-size: 15px"></i></center></th>
				</thead>
				<tbody>
					<tr ng-repeat="pos in posDetails" height="48">
						<td width="35%" style="position: absolute; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; width: 20%"> {{pos.custName}} </td>
						<td width="15%">  &nbsp;&nbsp;&nbsp;&nbsp;{{pos.custContact}} </td>
						<td width="16%"><center>{{pos.pickupDate | date:"dd MMMM, yyyy"}}</center> </td>
						<td width="16%"><center>{{pos.returnDate | date:"dd MMMM, yyyy"}}</center> </td>
						<td width="16%"><center>{{pos.qty}}</center> </td>
					</tr>
				</tbody>
			</table>
		</div>
      <!-- </div> -->


	</div>

	<div class="modal-footer">
		<span style="position:absolute; float:right; right:75px">
		<button id="" class="waves-effect waves-light btn-large" style="height:40px" ng-click="update()"><span style="position: relative; bottom: 8px; font-size:15px"><i class="fa fa-refresh"></i> UPDATE </span></button>
		<button id="" class="waves-effect waves-light btn-large" ng-click="delConfirm()" style="height:40px;  background-color: #d32f2f ;"><span style="position: relative; bottom: 8px; font-size:15px"><i class="fa fa-trash"></i> DELETE </span></button>
		</span>
	</div>
</div>