<html>
    <head>
        <title>REPORT</title>
    </head>
    
    <style>
    body{
        font-family : 'Trebuchet MS'
    }
        hr.style13 {
        width: 100%;
    	height: 10px;
    	border: 0;
    	box-shadow: 0 10px 10px -10px #8c8b8b inset;
        }
    </style>    
    
    <body>
     
    <span style="position:relative;float:left">
        <font face="Trebuchet MS">
            <h1> PC DECORATIONS </h1>
            <h2 style="position:relative; bottom:15px"> EVENT MANAGEMENT RENTALS </h2>
        </font>
    </span>
    <span style="position:relative;float:right">
        <font face="Trebuchet MS">
            <h3> CONTACT : +91-8714452213
            <br>
            <span style="float:right">+91-7012690872 </span> </h3>
            
        </font>        
    </span>
    <hr class="style13" style="position:relative; bottom:15px">
        <center>
        <h1> TRANSACTION REPORT </h1>
        <h3><span style="float:left"> {{:a}} </span>  <span style="float:right">{{:b}}</span> </h3>
        </center>
        <br>
        <hr>
        
        {{!--<h2>{{:~t("asd")}}</h2>--}}
        
    </body>
</html>
